{{- $profiles := list "personal" -}}

{{- $zsh := "/usr/bin/zsh" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $zsh = "/opt/homebrew/bin/zsh" -}}
{{- end -}}

{{- $steamhome := joinPath .chezmoi.homeDir ".local/share/steamhome" -}}
{{- $profile := promptChoiceOnce . "profile" "Choose your profile" $profiles "personal" -}}
{{- $default_shell := promptStringOnce . "default_shell" "Default shell" "/usr/bin/zsh" -}}
{{- $email := promptStringOnce . "email" "Email address" "cameron@ctuck.com" -}}

[data]
    email = {{ $email | quote }}
    profile = {{ $profile | quote }}
    default_shell = {{ $default_shell | quote }}
    steamhome = {{ $steamhome | quote }}

[git]
    autoCommit = true
    autoPush = true
