{{- $profiles := list "personal" "renorm" "g" "container" "otto" "tmp" -}}

{{- $default_shell_default := "/usr/bin/zsh" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $default_shell_default = "/opt/homebrew/bin/zsh" -}}
{{- end -}}

{{- $default_email := "cameron@ctuck.com" -}}

{{- $profile := promptChoiceOnce . "profile" "Choose your profile" $profiles "personal" -}}
{{- $default_shell := promptStringOnce . "default_shell" "Default shell" $default_shell_default -}}
{{- $email := promptStringOnce . "email" "Email address" $default_email -}}

encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/.age/key.txt"
    recipient = "age1qdm4d8s4we8jywaq8y6nf4j92uny495tmmkcgzw209k08qgnxgqqdjaev8"

[data]
    email = {{ $email | quote }}
    profile = {{ $profile | quote }}
    default_shell = {{ $default_shell | quote }}
    enable_onepassword = false

{{ if lookPath "podman" -}}
[docker]
    command = "podman"
{{- end }}

