{{ template "bash/helper" . }}
if_ephemeral && exit
if_command brew || exit

# Put the contents of the Brewfile here for change detection in chezmoi.
echo <<EOF
{{ include "./private_dot_config/homebrew/Brewfile.tmpl" }}
EOF > /dev/null

brew bundle install --global 2>&1 > /dev/null
