[user]
  name = Cameron Tuckerman-Lee
  email = {{ .email }}
[push]
  default = current
[http]
  cookiefile = {{ .chezmoi.homeDir }}/.local/share/git/cookies
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[core]
  excludesfile = {{ .chezmoi.homeDir }}/.config/git/gitignore
[pager]
  branch = false
[fedpkg]
  user = tuckerman
[include]
  path = signing.gitconfig
[include]
  path = github.gitconfig
